<.panel>
  <:header>Control Panel</:header>
  <div>
    <.button phx-click="comment">New Comment</.button>
  </div>
</.panel>

<div class="mt-4"></div>

<.live_component
  module={ShinstagramWeb.PostLive.PostComponent}
  id={@post.id}
  post={@post}
  profile={@post.profile}
  patch={~p"/"}
/>
